html {
  scroll-behavior: smooth;
}

.move-down {
  font-size: 24px;
  color: #b0b0b0;
}

.move-down:hover {
  color: black;
}

/* Navbar */
.main-logo {
  width: 150px;
}

.socials {
  position: absolute;
  right: 0;
  margin-right: 5%;
  display: inline-flex;

}

.socials-button {
  margin: 0 10%;
  font-size: 20px;
}

.socials-button i {
  color: #ccac8d;
  font-size: 20px;
}

.nav-link {
  margin: 0 10%;
}

.navbar {
  width: 70%;
  margin: auto;
  font-size: 20px;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  outline: 0;
}

.fa-linkedin {
  font-size: 18px;
}

.fa-twitter-square {
  font-size: 18px;
}

.fa-instagram {
  font-size: 18px;
}

.fa-envelope {
  font-size: 18px;
}

/* Homepage */
body {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: #366dc7;
  font-weight: bolder;
}
.main-content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.device-images {
  width: 100px;
}

.phone-icon {
  max-width: 50px;
  display: block;
}

.tablet-icon {
  max-width: 100px;
  display: block;
}

.computer-icon {
  max-width: 100px;
  display: block;
}

.what-we-do {
  padding: 10% 0;
}

.what-we-do p {
  padding: 10%;
}

.right-content {
  float:right;
}

.main-image {
  margin: 10% 0;
  width: 300px;
  border-radius: 170px;
}

.bio {
  width: 70%;
  margin: auto;
}

.fa-sort-down {
  font-size: 30px;
  color: black;
}

.career-heading {
  padding: 5% 0 0 0;
}

.career {
  width: 70%;
  margin: auto;
}


/* TIMELINE  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

 .timeline-paragraph-1 {
	 border-top: 3px solid;
   border-right: 3px solid;
   border-bottom: 3px solid;
	 /* border-image: linear-gradient(to right, #000000 0%, #e8e8e8 100%);
	 border-image-slice: 1; */
	 margin: 0;
	 padding: 40px;
	 position: relative;
}
.timeline-paragraph-2 {
  border-left: 3px solid;
  border-bottom: 3px solid;
  /* border-image: linear-gradient(to right, #000000 0%, #e8e8e8 100%);
  border-image-slice: 1; */
  margin: 0;
  padding: 40px;
  position: relative;
}
.timeline-paragraph-3 {
  border-right: 3px solid;
  border-bottom: 3px solid;
  /* border-image: linear-gradient(to right, #000000 0%, #e8e8e8 100%);
  border-image-slice: 1; */
  margin: 0;
  padding: 40px;
  position: relative;
}
.timeline-paragraph-4 {
  border-left: 3px solid;
  border-bottom: 3px solid;
  /* border-image: linear-gradient(to right, #000000 0%, #e8e8e8 100%);
  border-image-slice: 1; */
  margin: 0;
  padding: 40px;
  position: relative;
}
.timeline-paragraph-5 {
  border-right: 3px solid;
  /* border-image: linear-gradient(to right, #000000 0%, #e8e8e8 100%);
  border-image-slice: 1; */
  margin: 0;
  padding: 40px;
  position: relative;
}
 .timeline-paragraph-1:before {
	 content: "2015";
	 position: absolute;
	 border-radius: 50%;
	 padding: 10px;
	 height: 50px;
	 width: 50px;
	 background-color: #34435e;
	 text-align: center;
	 color: #fff;
   left: 100%;
   margin-left: -20px;
}

.timeline-paragraph-2:before {
  content: "2017";
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 50px;;
  width: 50px;;
  background-color: #34435e;
  text-align: center;
  color: #fff;
  right: 100%;
  margin-right: -20px;
}

.timeline-paragraph-3:before {
  content: "2018";
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 50px;;
  width: 50px;;
  background-color: #34435e;
  text-align: center;
  color: #fff;
  left: 100%;
  margin-left: -20px;
}
.timeline-paragraph-4:before {
  content: "2019";
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 50px;;
  width: 50px;;
  background-color: #34435e;
  text-align: center;
  color: #fff;
  right: 100%;
  margin-right: -20px;
}
.timeline-paragraph-5:before {
  content: "2020";
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 50px;;
  width: 50px;;
  background-color: #34435e;
  text-align: center;
  color: #fff;
  left: 100%;
  margin-left: -20px;
}

.timeline-paragraph {
  color: #363e5c;
}

/* Footer */
.footer {
  background-color: #fae3cd;
  height: 6%;
  min-height: 100px;
  padding: 5%;
  text-align: center;
}

.footer-socials-button {
  margin: 0 5%;
  text-align: left;
}

.footer a {
  color: black;
}

.footer i {
  margin-right: 1%;
}

.footer-paragraph {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
}

.move-up {
  font-size: 24px;
  float: right;
  color: #b0b0b0;
}

.move-up:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .footer-socials-button {
    display: block;
    padding-bottom: 5%;
  }
  .footer-socials {
    width: 35%;
    margin: auto;
  }

  .career {
    margin-top: 50%;
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .navbar {
    width: 100%;
  }

  .navbar-nav {
    background-color: #ebf8ff;
    min-height: 100%;
  }

  .socials {
    left: 0;
    position: inherit;
    text-align: center;
  }

  .socials-button {
    margin: 0 10%;
  }

  /* .socials {
    display: block;
  } */
}
